body {
    background: url(../images/hill6.png)
    no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.jumbotron {
    background-color: white !important;
    opacity: .9 !important;
}

.pokemon {
    width: 150px;
}

.health {

    width: 50%;
    float:left;
    text-align: center;

}

#yours, #enemy, h1, #attack, #defend {

    clear: both;

}

#start .health {
    border: 1px solid green;
}

#enemy .health  {

    border: 1px solid red;
}

#defend .health {
    border: 1px solid red;
}