.pokemon {
    width: 200px;
}

.health {

    width: 200px;
    float:left;
    text-align: center;

}

#yours, #enemy, h1, #attack, #defend {

    clear: both;

}

#start .health {
    border: 1px solid green;
}

#enemy .health  {

    border: 1px solid red;
}

#defend .health {
    border: 1px solid red;
}